<div class="flex h-full">
  <div class="m-2 flex">
    <img [src]="githubProfile.avatar_url" alt="" class="rounded-full w-60 h-60 ml-2 mt-2 m-2 transition-transform duration-1000 transform translate-x-0" />

    <div class="p-4 flex flex-col mt-16">
      <h4 class="text-3xl font-semibold font-mono">{{githubProfile.name}}</h4>
      <p class="text-sm text-gray-700">{{githubProfile.bio}}</p>
      <a [href]="githubProfile.html_url" target="_blank" class="w-24 inline-block mt-2 px-4 py-2 bg-green-500 text-white rounded">Profile</a>
    </div>
  </div>
</div>


